@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Northwind</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Products</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Suppliers</a></p>
    </div>
</div>